[alias]
    undo = reset --soft HEAD^

[commit]
    template = ~/.stCommitMsg
    gspsign = true

[core]
    excludefile = ~/.gitignore_global
    pager = delta

[delta]
    line-numbers = true

[diff]
    tool = fork

[difftool "fork"]
    cmd = /Applications/Fork.app/Contents/Resources/fork_cli diff \"$LOCAL\" \"$REMOTE\"

[filter "lfs"]
    require = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[init]
    defaultBranch = main

[merge]
    tool = fork

[mergetool "fork"]
    cmd = /Applications/Fork.app/Contents/Resources/fork_cli merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[url "git@github.com:"]
    insteadOf = https://github.com/

[include]
	path = ~/.config/git/profiles/machine.profile

[includeIf "gitdir/i:~/Development/personal/"]
	path = ~/.config/git/profiles/compooter.profile

[includeIf "gitdir/i:~/Development/work/"]
	path = ~/.config/git/profiles/upbook.profile
